body {
    background-color: rgb(140, 216, 241);
    @media (max-width: 400px) {
        background-color: khaki;
    }
}

img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid red;
}

.myheaders {
    font-family: fantasy;
}

header div a {
    font-size: x-large;
}

li {
    color: rgb(214, 9, 84);
}

#last-div {
    margin: 25px;
    border: 5px solid blueviolet;
    padding: 25px 25% 50px 50%;
}

.container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}